#%RAML 1.0
title: Articles
version: v2
baseUri: https://app.zencoder.com/api/
/articles/{id}/comment:
  uriParameters:
    id:
      type: integer
      minimum: 1
      maximum: 16
  post:
    description: Create a Job
    queryParameters:
          author:
            displayName: Author
            type: string
            description: The author's full name
            example: Ivan Petrov
            required: false
          name:
              displayName: Document Name
              type: string
              description: The name of the document
              example: Delivery contract
              required: false
    responses:
      200:
        body:
          application/vnd.api+json:
            schema: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "required": true,
                "properties": {
                  "data": {
                    "type": {
                      "type": "string",
                      "required": true,
                      "minLength": 4,
                      "maxLength": 32
                    },
                    "attributes": {
                      "type": "array",
                      "required": true,
                      "text": {
                        "type": "string",
                        "required": true,
                        "minLength": 16,
                        "maxLength": 128
                      },
                      "image": {
                        "type": "string",
                        "required": false
                      },
                      "time": {
                        "type":"integer",
                        "required": true,
                        "errorMessage": "Please set unix-time"
                      },
                      "username": {
                        "type": "match",
                        "pattern": "/^[a-zA-Z0-9_-]+$/",
                        "errorMessage": "Your username can only contain alphanumeric characters, underscores and dashes."
                      }
                    }
                  }
                }
              }
    body:
      application/vnd.api+json:
        schema: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "required": true,
                "properties": {
                  "data": {
                    "type": {
                      "type": "string",
                      "required": true,
                      "minLength": 4,
                      "maxLength": 32
                    },
                    "attributes": {
                      "type": "array",
                      "required": true,
                      "text": {
                        "type": "string",
                        "required": true,
                        "minLength": 16,
                        "maxLength": 128
                      },
                      "image": {
                        "type": "string",
                        "required": false
                      },
                      "time": {
                        "type":"integer",
                        "required": true,
                        "errorMessage": "Please set unix-time"
                      },
                      "username": {
                        "type": "match",
                        "pattern": "/^[a-zA-Z0-9_-]+$/",
                        "errorMessage": "Your username can only contain alphanumeric characters, underscores and dashes."
                      }
                    }
                  }
                }
              }
        example: |
            {
                "songId": "550e8400-e29b-41d4-a716-446655440000",
                "songTitle": "Get Lucky",
                "albumId": "183100e3-0e2b-4404-a716-66104d440550"
            }
            /{id}:
              patch:
                body:
                  application/vnd.api+json:
                    schema: |
                          {
                            "type": "object",
                            "$schema": "http://json-schema.org/draft-03/schema",
                            "id": "http://jsonschema.net",
                            "required": true,
                            "properties": {
                              "data": {
                                "type": {
                                  "type": "string",
                                  "required": true,
                                  "minLength": 4,
                                  "maxLength": 32
                                },
                                "attributes": {
                                  "type": "array",
                                  "required": true,
                                  "text": {
                                    "type": "string",
                                    "required": true,
                                    "minLength": 16,
                                    "maxLength": 128
                                  },
                                  "image": {
                                    "type": "string",
                                    "required": false
                                  }
                                }
                              }
                            }
                          }
/comments:
    post:
      description: foo
      responses:
        200:
            body:
                application/vnd.api+json:
                  example: |
                      {
                          "songId": "550e8400-e29b-41d4-a716-446655440000",
                          "songTitle": "Get Lucky",
                          "albumId": "183100e3-0e2b-4404-a716-66104d440550"
                      }
      body:
        application/vnd.api+json:
          schema: |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": {
                        "type": "string",
                        "required": true,
                        "minLength": 4,
                        "maxLength": 32
                      },
                      "attributes": {
                        "type": "array",
                        "required": true,
                        "text": {
                          "type": "string",
                          "required": true,
                          "minLength": 16,
                          "maxLength": 128
                        },
                        "smiles": {
                          "type": "string",
                          "required": false
                        }
                      }
                    }
                  }
                }